@media (min-width: 992px) {
  body {
    padding-top: 20px;
  }
}

.maincontainer {
	padding-top: 30px;
}

.toolcardtitle {
	font-size: 18px;
}

.toolcardbody {
    font-size: 14px;
    color: rgb(85, 85, 85);
    line-height: 1.1rem;
}