
@media (max-width: 575.98px) { 

 .item-in-category {
    position:relative;
    display:inline-block;
}

.notify-badge{
    position: absolute;
    right:5%;
    bottom: -5%;
    background:orange;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:black;
    padding:5px 10px;
    font-size:12px;
}

 }



@media (min-width: 576px) {

 .item-in-category {
    position:relative;
    display:inline-block;
}

.notify-badge{
    position: absolute;
    right:5%;
    bottom: -5%;
    background:orange;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:black;
    padding:5px 10px;
    font-size:12px;
}

}


@media (min-width: 768px) {

 .item-in-category {
    position:relative;
    display:inline-block;
}

.notify-badge{
    position: absolute;
    right:5%;
    bottom: -10%;
    background:orange;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:black;
    padding:5px 10px;
    font-size:12px;
}

}



@media (min-width: 992px) {
  body {
    padding-top: 20px;
  }
  
 .item-in-category {
    position:relative;
    display:inline-block;
}

.notify-badge{
    position: absolute;
    right:5%;
    bottom: -10%;
    background:orange;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:black;
    padding:5px 10px;
    font-size:12px;
}
  
}


@media (min-width: 1200px) {

.item-in-category {
    position:relative;
    display:inline-block;
}

.notify-badge{
    position: absolute;
    right:5%;
    bottom: -10%;
    background:orange;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:black;
    padding:5px 10px;
    font-size:12px;
}


} 

.maincontainer {
	padding-top: 30px;
}

.toolcardtitle {
	font-size: 18px;
	padding-top: 15px;
}

.toolcardbody {
    font-size: 14px;
    color: rgb(85, 85, 85);
    line-height: 1.1rem;
	
}

.toolcardsubtitle {
    font-size: 11px;
	padding-top: 5px;
}

.button-filter-uxpro {
	margin-bottom: 10px;
	margin-right: 10px;
}

.publication-h1 {
	font-size: 32px;
}

.publication-author {
	font-size: 14px; 
	font-weight: 500;
}

.publication-content {
	font-size: 18px;
	line-height: 1.8em;
	font-weight: 400;
}