<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   {% block opengraph %}
   {% endblock %}

   <link href="{% static '/bootstrap/css/bootstrap.css'%}" rel="stylesheet">
   <link href="{% static '/css/uxpro.css'%}" rel="stylesheet">

   <link rel="shortcut icon" href="{%  static '/favicon.ico' %}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74440726-3"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-74440726-3');
  </script>

  <script src="{% static '/jquery/jquery-latest.js'%}"></script>
  <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static '/jquery/lazysizes.min.js'%}"></script>
  <script src="{% static '/jquery/uxpro.js'%}"></script>


  {% block libraries %}{% endblock%}
  
  {% block title %}<title>Design Systems, Prototyping tool, Inspiration | UXPRO</title>{% endblock %}

</head>
<body>
  {% block pageheader %}{% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}{% endblock %}
</body>
</html>
