<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


   <link href="{% static '/bootstrap/css/bootstrap.css'%}" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74440726-3"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-74440726-3');
  </script>

  {% block libraries %}{% endblock%}
  
  {% block title %}<title>Local</title>{% endblock %}

</head>
<body>
  {% block pageheader %}{% endblock %}
  {% block content %}{% endblock %}
</body>
</html>
