{% extends "base_generic.html" %}
{% load static %}

{% block libraries %}
<link href="{% static '/css/uxpro.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFF;">
      <div class="container">
        <a class="navbar-brand" href="http://uxpro.cc/#">
		<img src="./Local Library_files/logo.png" width="60" height="60" class="d-inline-block align-top" alt="">
		Pro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="nav nav-pills ml-auto">
            <!--<li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link" href="http://uxpro.cc/prototyping/">Prototyping tools</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="http://uxpro.cc/#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


     <!-- Page Content -->
    <div class="container">

	 <div class="row">
        <div class="col-12 headcard-item">
          <div class="card bg-dark text-white headcard">
            <img class="card-img" src="./Local Library_files/700x400" alt="Card image">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
		    <h2 class="card-title headcardtitle">{{ headpost.title }}</h2>
            </div>
          </div>
        </div>
     </div>

     <div class="row">
          {% for card in firstsixposts %}
	       <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="http://uxpro.cc/#"><img class="card-img-top" src="./Local Library_files/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
		      <a href="http://uxpro.cc/#">{{ card.title }}</a>
              </h4>
	      <p class="card-text">{{ card.content }}</p>
            </div>
          </div>
        </div>
         {% endfor %}
     </div>
      <!-- /.row -->

       <div class="card text-center">
     <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    -
  </div>
</div>
   
     <div class="row">
          {% for card in secondsixposts %}
               <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="http://uxpro.cc/#"><img class="card-img-top" src="./Local Library_files/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                      <a href="http://uxpro.cc/#">{{ card.title }}</a>
              </h4>
              <p class="card-text">{{ card.content }}</p>
            </div>
          </div>
        </div>
         {% endfor %}
     </div>
      <!-- /.row -->

     <div class="row">
        <div class="col-12 headcard-item">
          <div class="card bg-dark text-white headcard">
            <img class="card-img" src="./Local Library_files/700x400" alt="Card image">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <h2 class="card-title headcardtitle">{{ tailpost.title }}</h2>
            </div>
          </div>
        </div>
     </div>
 </div>



{% endblock %}

