{% extends "base_generic.html" %}
{% load static %}

{% block libraries %}

   <style>
     
     th {
	         min-width: 100px;
     }
     td {
	         min-width: 100px;
     }

     thead {
 	  background: white;
       	}
	
     .tablesorter .filtered {
          display: none;
        }

     .first-col {
       position: sticky;
       position: -webkit-sticky;
       left: 0px;
       background-color: #ffffff;
        }
   </style> 



   <script src="{% static '/jquery/jquery-latest.js'%}"></script>
   <script src="{% static '/jquery/jquery.tablesorter.js'%}"></script>
   <script src="{% static '/jquery/jquery.tablesorter.widgets.js'%}"></script>

   <script type="text/javascript">
	$(function() {

  $("#toolstable").tablesorter({
    theme : "bootstrap",

    widthFixed: true,
	debug: true,

 
    widgets : [ "filter", "columns","zebra", "stickyHeaders" ],

    widgetOptions : {
     
	 zebra : ["even", "odd"],
	 
      // class names added to columns when sorted
      columns: [ "primary", "secondary", "tertiary" ],

      // reset filters button
      filter_reset : ".reset",

      // extra css class name (string or array) added to the filter element (input or select)
      filter_cssFilter: [
        'form-control',
        'form-control',
        'form-control', 
        'form-control',
        'form-control',
        'form-control',
        'form-control',
        'form-control',
        'form-control',
        'form-control', 
        'form-control',
        'form-control',
        'form-control',
        'form-control',
        'form-control',
        'form-control',
        'form-control', 
        'form-control',
        'form-control'
      ]

    }
  })


});
	</script>




{% endblock %}

{% block content %}

<div class="d-flex flex-row"> 
	
	<div class="p-2"><img src="{% get_media_prefix %}check.png" width="36px"></div>
        <div class="p-2"><img src="{% get_media_prefix %}check.png" width="36px"></div>
        <div class="p-2"><img src="{% get_media_prefix %}check.png" width="36px"></div>
</div>
<button type="button" class="reset btn btn-primary" data-column="0" data-filter="">Reset filters</button>
<table id="toolstable" class="table table-bordered table-hover">
 <thead>
	<tr>
		<th scope="col">Name</th>
		<th scope="col">Platform</th>
		<th scope="col" class="text-nowrap">Works Offline</th>
		<th scope="col">Free</th>
		<th scope="col">Subsription</th>
		<th scope="col">Purchase</th>
                <th scope="col">Design</th>
                <th scope="col">Artboards</th>
                <th scope="col">Symbols</th>
                <th scope="col" class="text-nowrap">Pen Tool</th>
                <th scope="col">Responsive</th>
                <th scope="col">Hotspots</th>
                <th scope="col">Animations</th>
                <th scope="col">Transitions</th>
                <th scope="col">Analytics</th>
                <th scope="col">Heatmaps</th>
                <th scope="col">Sensors</th>
                <th scope="col">Handoff</th>
                <th scope="col" class="text-nowrap">Export Assets</th>
	</tr>
   </thead>
   <tbody>
   {% for tool in prototyping_tools %}
        <tr>
		<td class="first-col text-nowrap">{{ tool.name }}</td>
		<td>
			{% if tool.availablefor_web %}Web{% endif %}
			{% if tool.availablefor_mac %}Mac{% endif %}
			{% if tool.availablefor_windows %}Windows{% endif %}
			{% if tool.availablefor_linux %}Linux{% endif %}
			{% if tool.availablefor_ios %}iOS{% endif %}
			{% if tool.availablefor_android %}Android{% endif %}
		</td>
		<td>{% if tool.works_offline %}<img src="{% get_media_prefix %}check.png" width="36px">{% endif %}</td>
		<td>{% if tool.free %}<img src="{% get_media_prefix %}check.png" width="36px">{% endif %}</td>
		<td>{{ tool.cost_subscription }}</td>
		<td>{{ tool.cost_purchase }}</td>

		<td>{% if tool.design %}<img src="{% get_media_prefix %}check.png" width="36px">{% endif %}</td>
                <td>{% if tool.artboards %}<img src="{% get_media_prefix %}check.png" width="36px">{% endif %}</td>
                <td>{% if tool.symbols %}<img src="{% get_media_prefix %}check.png" width="36px">{% endif %}</td>
                <td>{% if tool.pen_tool %}<img src="{% get_media_prefix %}check.png" width="36px">{% endif %}</td>
                <td>{% if tool.responsive %}<img src="{% get_media_prefix %}check.png" width="36px">{% endif %}</td>
                <td>{% if tool.hotspots %}<img src="{% get_media_prefix %}check.png" width="36px">{% endif %}</td>
                <td>{% if tool.animations %}<img src="{% get_media_prefix %}check.png" width="36px">{% endif %}</td>
                <td>{% if tool.transitions %}<img src="{% get_media_prefix %}check.png" width="36px">{% endif %}</td>

                <td>{% if tool.analytics %}<img src="{% get_media_prefix %}check.png" width="36px">{% endif %}</td>
                <td>{% if tool.heatmaps %}<img src="{% get_media_prefix %}check.png" width="36px">{% endif %}</td>
                <td>{% if tool.sensors %}<img src="{% get_media_prefix %}check.png" width="36px">{% endif %}</td>

                <td>{% if tool.handoff %}<img src="{% get_media_prefix %}check.png" width="36px">{% endif %}</td>
                <td>{% if tool.export_assets %}<img src="{% get_media_prefix %}check.png" width="36px">{% endif %}</td>
	</tr>
   {% endfor %}
   </tbody>
</table>
{% endblock %}

