{% extends "regular_page.html" %}
{% load static %}

{% block libraries %}


   <link rel="stylesheet" href="{% static '/css/theme.bootstrap_4.css'%}">


   <style>
   

     th {
	         min-width: 100px;
     }
     td {
	         min-width: 100px;
     }


     thead {
 	  background: white;
       	}
     
   .first-col {
       position: sticky;
       position: -webkit-sticky;
       left: 0px;
       background-color: #ffffff;
        }



    table.tablesorter {
    font-size: 12px;
  }
   .tablesorter-filter  {
    font-size: 12px;
  }

    .wrapper {
     overflow-y: auto;
  }

    
   </style> 

 
   <script src="{% static '/jquery/jquery-latest.js'%}"></script>
   <script src="{% static '/jquery/jquery.tablesorter.js'%}"></script>
   <script src="{% static '/jquery/jquery.tablesorter.widgets.js'%}"></script>

   <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js'%}"></script>


    <script>
     $(document).ready(function(){
     $('[data-toggle="tooltip"]').tooltip();
   });
   </script>


   <script type="text/javascript">
	$(function() {

  $("#toolstable").tablesorter({
    theme : "bootstrap",

    widthFixed: true,
	  debug: true,

    textExtraction:function(s){
        if($(s).find('img').length == 0)
            return $(s).text();
        else
            return $(s).find('img').attr('alt');
    },

 
    widgets : [ "columns","zebra", "filter", "stickyHeaders" ],

    widgetOptions : {

     
	    zebra : ["even", "odd"],

     


      // class names added to columns when sorted
      columns: [ "primary", "secondary", "tertiary" ],
    

      // reset filters button
      filter_reset : ".reset", 

      // extra css class name (string or array) added to the filter element (input or select)
      filter_cssFilter: [
        'form-control',
        'form-control',
        'form-control custom-select', 
        'form-control custom-select',
        'form-control',
        'form-control',
        'form-control custom-select',
        'form-control custom-select',
        'form-control custom-select',
        'form-control custom-select', 
        'form-control custom-select',
        'form-control custom-select',
        'form-control custom-select',
        'form-control custom-select',
        'form-control custom-select',
        'form-control custom-select',
        'form-control custom-select', 
        'form-control custom-select',
        'form-control custom-select'
      ],

      filter_functions : {
        
        4 : {
          "< $10"      : function(e, n, f, i, $r, c, data) { return n >= 1 && n < 10; },
          "$10 - $25" : function(e, n, f, i, $r, c, data) { return n >= 10 && n <=25; },
          "> $25"     : function(e, n, f, i, $r, c, data) { return n > 25; }
        },

	      
        5 : {
          "< $10"      : function(e, n, f, i, $r, c, data) { return n>= 1 && n < 10; },
          "$10 - $100" : function(e, n, f, i, $r, c, data) { return n >= 10 && n <=100; },
          "> $100"     : function(e, n, f, i, $r, c, data) { return n > 100; }
        }

      }

    }
  })


});
	</script>




{% endblock %}

{% block content %}

<div class="container-fluid">

 <div class="row justify-content-end">
    <button type="button" class="reset btn btn-outline-dark btn-sm" data-column="0" data-filter="">Reset filters</button>
  </div> 
  <div class="row"> 
    <div class="wrapper">
<table id="toolstable" class="table table-bordered table-hover">
 <thead class="thead-dark">
	<tr style="text-align:center">
		<th scope="col">Name</th>
		<th scope="col" style="min-width: 200px;" data-placeholder="Try Mac, Windows, Linux, etc">Platform</th>
		<th scope="col" class="text-nowrap filter-select filter-exact" data-placeholder="-">Works Offline</th>
		<th scope="col" class="filter-select filter-exact" data-placeholder="-">Free</th>
		<th scope="col" data-placeholder="Select a filter">Subsription</th>
		<th scope="col" data-placeholder="Select a filter">Purchase</th>
    <th scope="col" class="filter-select filter-exact" data-placeholder="-">Design</th>
    <th scope="col" class="filter-select filter-exact" data-placeholder="-">Artboards</th>
    <th scope="col" class="filter-select filter-exact" data-placeholder="-">Symbols</th>
    <th scope="col" class="text-nowrap filter-select filter-exact" data-placeholder="-">Pen Tool</th>
    <th scope="col" class="filter-select filter-exact" data-placeholder="-">Responsive</th>
    <th scope="col" class="filter-select filter-exact" data-placeholder="-">Hotspots</th>
    <th scope="col" class="filter-select filter-exact" data-placeholder="-">Animations</th>
    <th scope="col" class="filter-select filter-exact" data-placeholder="-">Transitions</th>
    <th scope="col" class="filter-select filter-exact" data-placeholder="-">Analytics</th>
    <th scope="col" class="filter-select filter-exact" data-placeholder="-">Heatmaps</th>
    <th scope="col" class="filter-select filter-exact" data-placeholder="-">Sensors</th>
    <th scope="col" class="filter-select filter-exact" data-placeholder="-">Handoff</th>
    <th scope="col" class="text-nowrap filter-select filter-exact" data-placeholder="-">Export Assets</th>
	</tr>
   </thead>
   <tbody>
   {% for tool in prototyping_tools %}
        <tr>
		<td class="first-col text-nowrap"><img src="{% get_media_prefix %}{{ tool.logo }}" width="36px"> {{ tool.name }}</td>
		<td>

  <img src="{% get_media_prefix %}pixel.png" alt="{% if tool.availablefor_web %}web {% endif %}
                                        {% if tool.availablefor_mac %}mac {% endif %}
                                        {% if tool.availablefor_windows %}windows {% endif %}
                                        {% if tool.availablefor_linux %}linux {% endif %}
                                        {% if tool.availablefor_ios %}ios {% endif %}
                                        {% if tool.availablefor_android %}android {% endif %}">

			{% if tool.availablefor_web %}  {% include "web.html" %} {% endif %}
			{% if tool.availablefor_mac %} {% include "mac.html" %}  {% endif %}
			{% if tool.availablefor_windows %} {% include "windows.html" %} {% endif %}
			{% if tool.availablefor_linux %} {% include "linux.html" %} {% endif %}
			{% if tool.availablefor_ios %} {% include "ios.html" %} {% endif %}
			{% if tool.availablefor_android %} {% include "android.html" %} {% endif %}

		</td>
		<td style="text-align:center">{% if tool.works_offline %} {% include "worksoffline.html" %} {% endif %}</td>
		<td style="text-align:center">{% if tool.free %} {% include "checkmark.html" %} {% endif %}</td>
		<td>{% if tool.cost_subscription == None %}{% else %}{{ tool.cost_subscription }}{% endif %}</td>
		<td>{% if tool.cost_purchase == None %}{% else %}{{ tool.cost_purchase }}{% endif %}</td>

		<td style="text-align:center">{% if tool.design %} {% include "checkmark.html" %} {% endif %}</td>
                <td style="text-align:center">{% if tool.artboards %} {% include "checkmark.html" %} {% endif %}</td>
                <td style="text-align:center">{% if tool.symbols %} {% include "checkmark.html" %} {% endif %}</td>
                <td style="text-align:center">{% if tool.pen_tool %} {% include "checkmark.html" %} {% endif %}</td>
                <td style="text-align:center">{% if tool.responsive %} {% include "checkmark.html" %} {% endif %}</td>
                <td style="text-align:center">{% if tool.hotspots %} {% include "checkmark.html" %} {% endif %}</td>
                <td style="text-align:center">{% if tool.animations %} {% include "checkmark.html" %} {% endif %}</td>
		<td style="text-align:center">{% if tool.transitions %} {% include "checkmark.html" %} {% endif %}</td>

                <td style="text-align:center">{% if tool.analytics %} {% include "checkmark.html" %} {% endif %}</td>
                <td style="text-align:center">{% if tool.heatmaps %} {% include "checkmark.html" %} {% endif %}</td>
                <td style="text-align:center">{% if tool.sensors %} {% include "checkmark.html" %} {% endif %}</td>

                <td style="text-align:center">{% if tool.handoff %} {% include "checkmark.html" %} {% endif %}</td>
                <td style="text-align:center">{% if tool.export_assets %} {% include "checkmark.html" %} {% endif %}</td>
	</tr>
   {% endfor %}
   </tbody>
</table>
</div>
</div>
</div>

{% endblock %}

