{% extends "base_generic.html" %}
{% load static %}


{% block pageheader %}

 <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-dark navbar-custom" >
        <a class="navbar-brand" href="/">
		<img src="/media/sitelogo.png" width="20" height="20" class="d-inline-block align-top" alt="">
		UX Pro</a>
       
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>-->

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tools
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <a class="dropdown-item" href="/tools">All tools</a>
                   <a class="dropdown-item" href="/compare/prototyping">Compare prototyping tools</a>
                </div>
              </li>

            <li class="nav-item">
              <a class="nav-link" href="/resources">Resources</a>
            </li>

          </ul>
        </div>
    </nav>
{% endblock %}


{% block content %}

{% endblock %}

{% block footer %}
<div class="container-fluid">
<div class="row justify-content-center footer">

    <div class="footer-link"><a href="/about">About</a></div>
  <div class="footer-link"><a href="/contact">Contact</a></div>
  <div class="footer-link"><a href="https://twitter.com/uxprocc">Follow on Twitter</a></div>
  <div class="footer-link-last"><a href="https://facebook.com/uxprocc">Like on Facebook</a></div>
  </div>
</div>

{% endblock %}

