{% extends "base_generic.html" %}
{% load static %}


{% block pageheader %}

 <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-dark navbar-custom" >
        <a class="navbar-brand" href="/">
		<img src="/media/sitelogo.png" width="20" height="20" class="d-inline-block align-top" alt="">
		UXPRO</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>

       
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>-->

             <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Tools
               </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     <!--<li><a class="dropdown-item" href="#">Action</a></li>
                     <li><a class="dropdown-item" href="#">Another action</a></li>-->
                     <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Prototyping</a>
                        <ul class="dropdown-menu">
                           <li><a class="dropdown-item" href="/tools">All tools</a></li>
                           <li><a class="dropdown-item" href="/compare/prototyping">Compare tools</a></li>
                        </ul>
                     </li>
                    </ul>
              </li>


             <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Design Resources
               </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     <!--<li><a class="dropdown-item" href="#">Action</a></li>
                     <li><a class="dropdown-item" href="#">Another action</a></li>-->

                     <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Graphic & Visual Design</a>
                        <ul class="dropdown-menu">
                           <li><a class="dropdown-item" href="/toolbox/visual-design/colors/">Colors</a></li>
                           <li><a class="dropdown-item" href="/toolbox/visual-design/icons/">Icons</a></li>
                           <li><a class="dropdown-item" href="/toolbox/visual-design/illustrations/">Illustrations</a></li>
                           <li><a class="dropdown-item" href="/toolbox/visual-design/photos/">Stock Photos</a></li>
                           <li><a class="dropdown-item" href="/toolbox/visual-design/video/">Video</a></li>
                           <li><a class="dropdown-item" href="/toolbox/visual-design/mockups/">Mockups</a></li>
                           <li><a class="dropdown-item" href="/toolbox/visual-design/uikit/">UI Kits</a></li>
                        </ul>
                     </li>

                     <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">User Experience</a>
                        <ul class="dropdown-menu">
                           <li><a class="dropdown-item" href="/toolbox/ux-design/brainstorming/">Brainstorming</a></li>
                           <li><a class="dropdown-item" href="/toolbox/ux-design/design-strategy/">Design Strategy</a></li>
                           <li><a class="dropdown-item" href="/toolbox/ux-design/usability-testing/">Usability Testing</a></li>
                           <li><a class="dropdown-item" href="/toolbox/ux-design/user-journey/">User Journey</a></li>
                           <li><a class="dropdown-item" href="/toolbox/ux-design/user-research/">User Research</a></li>   
                        </ul>
                     </li>

                     <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Web Design</a>
                        <ul class="dropdown-menu">
                           <li><a class="dropdown-item" href="/toolbox/web-design/web-inspector/">Inspectors</a></li>
                           <li><a class="dropdown-item" href="/toolbox/web-design/web-accessibility/">Accessibility</a></li>                           
                        </ul>
                     </li>


                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Artificial Intelligence</a>
                        <ul class="dropdown-menu">
                           <li><a class="dropdown-item" href="/toolbox/ai/ai-powered-design/">AI-Powered Design</a></li>
                           <li><a class="dropdown-item" href="/toolbox/ai/ai-powered-development/">AI-Powered Development</a></li>
                           <li><a class="dropdown-item" href="/toolbox/ai/chatbots/">Chatbots</a></li>
                           <li><a class="dropdown-item" href="/toolbox/ai/ml/">Machine Learning</a></li>
                        </ul>
                     </li>
                     
                     <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">AR & VR</a>
                        <ul class="dropdown-menu">
                           <li><a class="dropdown-item" href="/toolbox/reality/ar/">Augmented Reality</a></li>
                           <li><a class="dropdown-item" href="/toolbox/reality/vr/">Virtual Reality</a></li>
                        </ul>
                     </li>

                    </ul>
              </li>
               
             <li class="nav-item"><a class="nav-link" href="/conferences/">Design Conferences</a></li>
              <!--
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Resources
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                   <a class="dropdown-item" href="/freebies">Design freebies</a>
                </div>
              </li>
              -->





          </ul>
          <form class="form-inline" action="/search" method="get">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
          </form>
          <!--
          <ul class="nav navbar-nav">
            <li class="nav-item" style="float:">
              <a class="nav-link" href="/signup">Join community</a>
            </li>
          </ul>
           -->
        </div>
    </nav>
{% endblock %}


{% block content %}

{% endblock %}

{% block footer %}
<div class="container-fluid">
<div class="row justify-content-center footer">

    <div class="footer-link"><a href="/about">About</a></div>
  <div class="footer-link"><a href="/contact">Contact</a></div>
  <div class="footer-link"><a href="https://twitter.com/uxprocc">Follow on Twitter</a></div>
  <div class="footer-link-last"><a href="https://facebook.com/uxprocc">Like on Facebook</a></div>
  </div>
<div class ="row mt-5">
  <div class="col-md-4 offset-md-8">
<h6>Get our newsletter</h6>
<div class="email-octopus-form-wrapper">
    <h2 class="email-octopus-heading"></h2>
    <p class="email-octopus-success-message"></p>
    <p class="email-octopus-error-message"></p>

    <form method="post"
      action="https://emailoctopus.com/lists/bdf16390-e1df-11e8-a3c9-06b79b628af2/members/embedded/1.3s/add"
      class="email-octopus-form"
      data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6">
        <div class="input-group">
            <input id="field_0" name="field_0" type="email" placeholder="Your Email">
            <div class="email-octopus-form-row-hp" aria-hidden="true">
              <input type="text" name="hpbdf16390-e1df-11e8-a3c9-06b79b628af2" tabindex="-1" autocomplete="nope">
            </div>

            <input type="hidden" name="successRedirectUrl" value="">
            <button class="btn btn-info" type="submit">Subscribe</button>
          </div>
    </form>

    
</div>

  <script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.3/recaptcha.js?1541414065"></script>
  <script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.3/formEmbed.js?1541414065"></script>

  </div>
</div>
</div>

{% endblock %}

