{% extends "base_generic.html" %}
{% load static %}


{% block pageheader %}

 <!-- Navigation -->
   <nav class="navbar navbar-expand-lg navbar-dark navbar-custom" >
        <a class="navbar-brand" href="/">
		<img src="/media/sitelogo.png" width="20" height="20" class="d-inline-block align-top" alt="">
		UXPRO</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>

       
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>-->

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Prototyping tools
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <a class="dropdown-item" href="/tools">All tools</a>
                   <a class="dropdown-item" href="/compare/prototyping">Compare prototyping tools</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Graphic & Visual Design
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                   <a class="dropdown-item" href="/toolbox/visualdesign/colors/">Colors</a>
                   <a class="dropdown-item" href="/toolbox/visualdesign/icons/">Icons</a>
                </div>
              </li>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Resources
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                   <a class="dropdown-item" href="/freebies">Design freebies</a>
                </div>
              </li>

          </ul>
          <ul class="nav navbar-nav">
            <li class="nav-item" style="float:">
              <a class="nav-link" href="/signup">Join community</a>
            </li>
          </ul>

        </div>
    </nav>
{% endblock %}


{% block content %}

{% endblock %}

{% block footer %}
<div class="container-fluid">
<div class="row justify-content-center footer">

    <div class="footer-link"><a href="/about">About</a></div>
  <div class="footer-link"><a href="/contact">Contact</a></div>
  <div class="footer-link"><a href="https://twitter.com/uxprocc">Follow on Twitter</a></div>
  <div class="footer-link-last"><a href="https://facebook.com/uxprocc">Like on Facebook</a></div>
  </div>
<div class ="row mt-5">
  <div class="col-md-4 offset-md-8">
<h6>Get our newsletter</h6>
<div class="email-octopus-form-wrapper">
    <h2 class="email-octopus-heading"></h2>
    <p class="email-octopus-success-message"></p>
    <p class="email-octopus-error-message"></p>

    <form method="post"
      action="https://emailoctopus.com/lists/bdf16390-e1df-11e8-a3c9-06b79b628af2/members/embedded/1.3s/add"
      class="email-octopus-form"
      data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6">
        <div class="input-group">
            <input id="field_0" name="field_0" type="email" placeholder="Your Email">
            <div class="email-octopus-form-row-hp" aria-hidden="true">
              <input type="text" name="hpbdf16390-e1df-11e8-a3c9-06b79b628af2" tabindex="-1" autocomplete="nope">
            </div>

            <input type="hidden" name="successRedirectUrl" value="">
            <button class="btn btn-info" type="submit">Subscribe</button>
          </div>
    </form>

    
</div>

  <script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.3/recaptcha.js?1541414065"></script>
  <script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.3/formEmbed.js?1541414065"></script>

  </div>
</div>
</div>

{% endblock %}

