{% extends "regular_page.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block libraries %}

<link href="{% static '/css/uxpro.css'%}" rel="stylesheet">

{% endblock%}

{% block title %}<title>Create account | UXPRO</title>{% endblock %}


{% block content %}
  
<div class="container maincontainer">
   <div class="row justify-content-center mb-4">
    <h3>Create new account</h3>
  </div>

  <div class="row justify-content-center">
    <form method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" value="Submit">
</form>

  </div>
</div>
 
 
{% endblock %}
