{% extends "regular_page.html" %}
{% load static %}


{% block title %}<title>{{ category.name }} - UX Pro</title>{% endblock %}

{% block opengraph %}
<!-- Facebook OpenGraph" -->
<meta property="og:url"           content="{{ SITE_URL }}{{ request.get_full_path }}" />
<meta property="og:type"          content="article" />
<meta property="og:title"         content="{{category.name}} | UX Pro" />
<meta property="og:description"   content="{{ category.description }}" />
<meta property="og:image"         content="{{ SITE_URL }}{% get_media_prefix %}{{ category.thumb }}" />
{% endblock%}

{% block content %}


<div class="container maincontainer">

 <div class="row justify-content-center mb-4">
    <h3>{{ category.name }}</h3>
  </div>

 <div class="row justify-content-start" style="padding-top:20px"> 
  <div class="col-12">
    {{ box_tools |length }} tools
  </div>
</div>

<div class="row" style="padding-top:20px">
 {% for tool in box_tools %}
 <div class="col-12 col-md-4 col-lg-3">
  <div class="card card-shadow mb-4">

   <div class="item-in-category">
   <a href="/toolbox/{{ tool.slug }}">
    <span class="image-badge"><img height="25" width="25" src="{% get_media_prefix %}{{ tool.logo }}" alt="{{ tool.name }}"></span>
    <img class="card-img-top lazyload" src="{% get_media_prefix %}placeholder.png" data-src="{% get_media_prefix %}{{ tool.header_image }}" data-srcset="{% get_media_prefix %}{{ tool.header_image }}" alt="{{ tool.name }}"></a>
   </div>

    <div class="card-body">
      <h5 class="card-title toolcardtitle"><a href="/toolbox/{{ tool.slug }}">{{tool.name}}</a></h5>
      <p class="card-text toolcardbody">{{ tool.tease|truncatechars:100 }}</p>
    </div>
  </div>
</div>
{% endfor %}

</div>
</div>
 
{% endblock %}
