{% extends "regular_page.html" %}
{% load static %}

{% block content %}
  
<div class="container singletool">


  <div class="row justify-content-start"> 
  <div class="col">
  <div class="media">
    <span class="media-left">

    <img src="{% get_media_prefix %}{{ tool.logo }}" width="50px">
   </span>
    <div class="media-body">
   <h1 style="padding-left:20px">{{ tool.name}}</h1>
    </div>
   </div>
   </div>
    </div>
   
   <div class="row" style="padding-top:20px">
      <div class="col-8">
   <table class="table table-hover table-sm">
  <tbody>
    <tr>
      <th scope="row">Cost</th>
      <td>Prices range from $0 -$199 a month depending on your need</td>
    </tr>
    <tr>
      <th scope="row">Platform</th>
      <td>Web, Mac, Windows</td>
    </tr>
    <tr>
      <th scope="row">Ideal for</th>
      <td>Web, Mobile</td>
    </tr>
  </tbody>
</table>
</div>
</div>
   
   
    <div class="row justify-content-start" style="padding-top:20px"> 
	<div class="col-8">
     {{ tool.description|linebreaks}}
   </div>
   </div>
   
{% if tool_images %}
 <div class="row justify-content-start" style="padding-top:20px"> 
	<div class="col-8">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

  	{% for tool_image in tool_images %}
  	   {% if forloop.first %}
    <div class="carousel-item active">
       {% else %}
       <div class="carousel-item">
       {% endif %}
      <img class="d-block w-100" src="{% get_media_prefix %}{{ tool_image.image }}" alt="Slide">
    </div>
  </div>
    {% endfor %}
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>

{% endif %}



   <div class="row justify-content-start" style="padding-top:20px"> 
	<div class="col-8">
	
	
	<h4>Pros</h4>
	
<table class="table table-hover table-sm">
  <tbody>
  	{% for o in tool_pros %}
    <tr>
      <th scope="row">{% include "pros.html" %}

</th>
      <td>{{ o }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
	
<h4>Cons</h4>

	<table class="table table-hover table-sm">
  <tbody>
  	{% for o in tool_cons %}
    <tr>
      <th scope="row">{% include "cons.html" %}

</th>
      <td>{{ o }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
	

    </div>
   </div>
   
</div>
 
{% endblock %}
